.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #dbf3ff !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkTwo {
  font-family: "Arial", sans-serif;
  color: black;
  transition: color 0.3s ease;
  max-width: 150px;
  max-height: 100px;
}

.linkTwo:hover {
  color: blue;
  animation: wiggle 0.5s infinite alternate;
}

@keyframes wiggle {
  0% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}

.linkTwo:active {
  animation: jump 0.3s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  border-radius: 3px solid red !important;
}

.ftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft-gif {
  border-radius: 20% 20% 20% 20% !important;
  margin: 2% 2%;
  border: solid 9px #dfe372;
}

.ft-header-gold {
  background-color: #dfe372;
  border-radius: 1rem;
  border: 6px groove rgb(135, 105, 69);
  color: #000000;
  display: inline-block;
  padding: 0.5%;
  text-align: center;
}

.form-label {
  margin-right: 5px;
}

.no-wrap {
  white-space: nowrap;
  text-decoration: none !important;
}

.info-card-holder {
  display: flex;
  justify-content: center; /*Horizontal*/
  align-items: center; /*Vertical*/
}

.info-card-fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.info-card-image {
  max-height: 294px;
  max-width: 441px;
}

.info-card-visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbar {
  margin-top: -20px !important;
  margin-bottom: 20px !important;
  box-sizing: border-box;
  min-width: 100%;
}

.navbar-img {
  border-radius: 20px 20px 20px 20px !important;
  margin: 2% 2%;
  border: groove 3px #dfe372;
}

.navbar-expand {
  flex-flow: row nowrap;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.light-bg {
  background-color: #e4df72 !important;
}

.align-items-center {
  align-items: center !important;
}

.rounded-bg {
  border-radius: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  height: 175px !important;
}

.pcc {
  place-content: center;
}

.push-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.push-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form {
  color: #000000;
  padding: 2%;
  background-color: #dfe372;
  border-radius: 1rem;
  border: 6px groove rgb(135, 105, 69);
}

.result {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: larger;
  padding: 10px;
}
